<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo %}FoodStock{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="d-flex">

    <!-- Menu Lateral -->
    <nav class="bg-success text-white p-3 vh-100" style="width:250px;">

        <h3 class="text-center mb-4">
            <i class="bi bi-box-seam-fill"></i>
            FoodStock
        </h3>

        <hr>

        <ul class="nav flex-column">

            <li class="nav-item mb-2">
                <a href="/dashboard" class="nav-link text-white">
                    <i class="bi bi-house-fill"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="/produtos" class="nav-link text-white">
                    <i class="bi bi-box-fill"></i>
                    Produtos
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-arrow-down-circle-fill"></i>
                    Entradas
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-arrow-up-circle-fill"></i>
                    Saídas
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-graph-up"></i>
                    Relatórios
                </a>
            </li>

        </ul>

        <hr>

        <a href="/" class="btn btn-outline-light w-100 mt-3">
            <i class="bi bi-box-arrow-left"></i>
            Sair
        </a>

    </nav>

    <!-- Conteúdo -->
    <div class="flex-grow-1">

        <!-- Navbar -->
        <nav class="navbar navbar-light bg-white shadow-sm px-4">

            <span class="navbar-brand mb-0 h4">
                {% block titulo_pagina %}
                Dashboard
                {% endblock %}
            </span>

            <span class="text-secondary">
                <i class="bi bi-person-circle"></i>
                Administrador
            </span>

        </nav>

        <div class="container-fluid p-4">

            {% block conteudo %}
            {% endblock %}

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>